{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <h2 class="text-center mt-5">Checkout</h2>
  <div class="row p-5">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3>Shipping Address</h3>
          <form method="post" action="{% url 'checkout' %}">
            {% csrf_token %}
            {{ address_form|crispy }}
            <h3>Payment Information</h3>
            {{ payment_form|crispy }}
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h4>Total Price (including 8.25% sales tax): ${{ total_price_with_tax|floatformat:2 }}</h4>
          <hr>

            <button type="submit" class="btn btn-primary">Place Order</button>
          </form>
      
        </div>
      </div>
    </div>
  </div>
{% endblock %}
