{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}MMAAS Shopping{% endblock %}

{% block content %}        
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">MMAAS</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to our shop!</p>
        </div>
    </div>
</header>
<!-- Section-->
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="sticky" style="position: sticky; top: 20px; margin-top: 80px;">
                <form id="filterForm">
                    {{form|crispy}}
                    <button type="submit" class="btn btn-primary">Filter</button>
                </form>
            </div>
        </div>
        <div class="col-md-10">
            {% if products %}
                <section class="py-5">
                    <div class="container px-4 px-lg-5 mt-5">
                        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                            {% for product in products %}
                                <div class="col mb-5">
                                    <div class="card h-100">
                                        
                                        
                                        {% if product.quantity <= 10 %}
                                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Low in Stock</div>
                                            
                                        {% endif %}
                                            
                                            
                                        <!-- Product image-->
                                        <img class="card-img-top" src="{{product.image.url}}" alt="..." />
                                        <!-- Product details-->
                                        <div class="card-body p-4">
                                            <div class="text-center">
                                                <!-- Product name-->
                                                <h5 class="fw-bolder">{{product.name}}</h5>
                                                <!-- Product price-->
                                                ${{product.price}}
                                                <h5 class="fw-normal fs-6">
                                                    Remaining: {{product.quantity}}
                                                </h5>
                                            </div>
                                        </div>
                                        <!-- Product actions-->
                                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                            <div class="text-center"><a class="btn btn-outline-success mt-auto" href="{% url 'product-page' product.id %}">View</a></div>
                                            <div class="text-center"><a class="btn btn-outline-dark mt-2" href="{% url 'add_to_cart' product.id %}">Add to Cart</a></div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>
            {% else %}
                <p class="">No items exist</p>
            {% endif %}
        </div>
    </div>
</div>{% endblock %}